import /init.recovery.qcom_decrypt.rc

on early-init
    start linkblobs

on init
    setprop prepdecrypt.setpatch true	
    write /sys/class/backlight/panel0-backlight/brightness 200
    # Create location for fs_mgr to store abbreviated output from filesystem
    # checker programs.
    mkdir /dev/fscklogs 0770 root system

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

    # Mount firmware
    mkdir /vendor/firmware_mnt
    mount vfat /dev/block/bootdevice/by-name/apnhlos /vendor/firmware_mnt ro
    # Set fscklog permission
    chown root system /dev/fscklogs/log
    chmod 0770 /dev/fscklogs/log
    start boot-hal-1-1

on boot
    start health-hal-2-1
    setprop sys.usb.config adb
    
service linkblobs /system/bin/linkblobs.sh
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0